
/* Catégorie BODY */

body{

    padding: 0%;
    margin: 0%;
    color: rgb(0, 0, 0);
    width: 100%;
    /* font-family: 'Mulish', sans-serif;     */
    font-family: 'Uchen', serif;

    
}


/* Catégorie entête */

.presentation{
  
    color: white;
    background-color: rgb(0, 0, 0);
    height: 1000px;

}


/* gère le style de tous les titres sur la page */

.titre{
    
    text-align: center;

}


/* permt de gérer les paramètre de l'image qui mène au github  et le rétrécissement de l'image*/

.githubIcon img{

    margin-top: 1%;
    width: 10%;
    transition: 0.5s ease-in-out;
    
   
}

/* gère le l'animation de grossissement de l'image */

.githubIcon:hover img{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
  
  }




.arrowIcon img{

    margin-top: 3%;

    width: 4%;

    transition: 0.5s;
    
}



.arrowIcon:hover img{
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
    
  }



/* Catégorie formations */


.diplome{

    margin-top: 5%;
    /* background-color: rgba(123, 168, 189, 0.445); */
    background-color: rgb(255, 255, 255);
    height: 1000px;
}
















/* categorie expériences */

.exp{

    /* color: white; */
    /* background-color: rgba(159, 174, 180, 0.445); */
    color: black;
    background-color: rgba(81, 116, 211, 0.26);
    height: 1100px;


    

}

/* gère le placement, style ... des images dans la catégorie expérience */
.expImg img{
    
    background-color: rgba(9, 26, 65, 0.568);
    border-radius: 8px;
    width: 29%;
    margin: 2%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    
  
}

/* regle les parametre d'animation des différentes images */

.expImg .ima1 img{
    

    transition: 0.2s  ease-in-out;
    
  
}



.expImg .ima1:hover img{
    

    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    
  
}


.expImg .ima2 img{
    

    transition: 0.2s   ease-in-out;
    
  
}



.expImg .ima2:hover img{
    

    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    
  
}


.expImg .ima3 img{
    

    transition: 0.2s   ease-in-out;
    
  
}



.expImg .ima3:hover img{
    

    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    
  
}


.expImg .ima4 img{
    

    transition: 0.2s   ease-in-out;
    
  
}



.expImg .ima4:hover img{
    

    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    
  
}









/* catégorie compétences */




.skills{

    height: 2000px;
}



.skills img{
    
    background-color: rgba(9, 26, 65, 0.568);
    border-radius: 8px;
    width: 20%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    
  
}



/* SLIDER IMAGE HOVER */





/* .skills .slider img{


    
   

}
 */


/* regle les parametre d'animation des différentes images dans les compétences */



.skills .slider img{

    margin-top: 1%;
    
}

.skills .slider .im1 img{


    transition: 0.5s;
   

}



.skills .slider .im1:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}




.skills .slider .im2 img{


    transition: 0.5s;
   

}



.skills .slider .im2:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}


.skills .slider .im3 img{


    transition: 0.5s;
   

}



.skills .slider .im3:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}



.skills .slider .im4 img{


    transition: 0.5s;
   

}



.skills .slider .im4:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}




.skills .slider .im5 img{


    transition: 0.5s;
   

}



.skills .slider .im5:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}


.skills .slider .im6 img{


    transition: 0.5s;
   

}



.skills .slider .im6:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}



.skills .slider .im7 img{


    transition: 0.5s;
   

}



.skills .slider .im7:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}



.skills .slider .im8 img{


    transition: 0.5s;
   

}



.skills .slider .im8:hover img{


    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    

}



/* FIN SLIDER IMAGE HOVER */




.social{  
   
    background-color: rgba(2, 5, 12, 0.747);
    color: white;
    text-align: center;  


}



.social .icon img{


   margin-top: 2%;
   margin-bottom: 1%;
   border-radius: 8px;
   width: 4%
}










/* mediaquery pour téléphone */



   @media screen and (max-width: 576px) {
   





                    
                /* Catégorie BODY */

                body{

                    padding: 0%;
                    margin: 0%;
                    color: rgb(0, 0, 0);
                    width: 100%;
                    /* font-family: 'Mulish', sans-serif;     */
                    font-family: 'Uchen', serif;

                    
                }


                /* Catégorie entête */

                .presentation{
                
                    color: white;
                    background-color: rgb(0, 0, 0);
                    height: 700px;

                }


                /* gère le style de tous les titres sur la page */

                .titre{
                    
                    text-align: center;

                }


                /* permt de gérer les paramètre de l'image qui mène au github  et le rétrécissement de l'image*/

                .githubIcon img{

                    margin-top: 1%;
                    width: 30%;
                
                    
                
                }




                .arrowIcon img{

                    margin-top: 3%;

                    width: 10%;

                
                    
                }






                /* Catégorie formations */


                .diplome{

                    margin-top: 5%;
                    /* background-color: rgba(123, 168, 189, 0.445); */
                    background-color: rgb(255, 255, 255);
                    height: 700px;
                }





                /* categorie expériences */

                .exp{

                    /* color: white; */
                    /* background-color: rgba(159, 174, 180, 0.445); */
                    color: black;
                    background-color: rgba(81, 116, 211, 0.26);
                    height: 1000px;


                    

                }

                /* gère le placement, style ... des images dans la catégorie expérience */
                .expImg img{
                    
                    background-color: rgba(9, 26, 65, 0.568);
                    border-radius: 8px;
                    width: 100%;
                    

                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    
                
                }






                /* catégorie compétences */




                .skills{

                    height: 1500px;
                }



                .skills img{
                    
                    /* background-color: rgba(9, 26, 65, 0.568); */
                    background-color: rgb(255, 255, 255);
                    border-radius: 8px;
                    width: 50%;
                    
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    
                
                }





                .social{  
                
                    background-color: rgba(2, 5, 12, 0.747);
                    color: white;
                    text-align: center;  

                }



                .social .icon img{


                    border-radius: 8px;
                    width: 10%
                }





  }


  /* fin media screen pour téléphone */

















  


  /* mediaquery pour tablette */



  /* @media screen and (max-width: 992px) {
   








} */


/* fin media screen pour tablette */