


body{

    padding: 0%;
    margin: 0%;
    color: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Mulish', sans-serif;    
    
}




.presentation{
  
    color: white;
    background-color: rgb(0, 0, 0);
    height: 1000px;

}




.titre{
    
    text-align: center;

}




.githubIcon img{

    margin-top: 1%;
    width: 10%;
   
}



.githubIcon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    transition: 1s;
  }




.arrowIcon img{

    margin-top: 3%;

    width: 4%;
    
}



.arrowIcon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    transition: 1s;
  }






.diplome{

    margin-top: 5%;
    background-color: rgba(123, 168, 189, 0.445);
    height: 1000px;
}




.exp{

    color: white;
    background-color: rgba(159, 174, 180, 0.445);
    height: 1000px;

}


.skills{

    height: 100px;
}



.skills img{
    
    background-color: rgba(9, 26, 65, 0.568);
    border-radius: 8px;
    width: 20%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}




.skills .slider{




}








.social{  
   
    background-color: rgba(2, 5, 12, 0.747);
    color: white;
    text-align: center;  

}



.social .icon img{


    border-radius: 8px;
    width: 4%
}





